<template>
    <div>
        <input type="text" v-model="edit_items">
        <button @click="$emit('updateTodo', index)">Save</button>
        <button>Cancel</button>
    </div>
</template>

<script>
export default {
    name: 'EditItem'
}
</script>
