<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="To Do List"/>
    <input type="text" v-model="inputValue">
    <button @click="addTodo">Add</button>
    <p>Progress</p>
    <p>{{warning}}</p>
    <ToDoItem v-for="(todo, index) in todos" 
    :key="index"
    :todo="todo"
    :index="index"
    v-on:doneTodo="doneTodo($event)"
    v-on:checked="checked($event)" 
    v-on:hapusTodo="hapusTodo($event)"></ToDoItem>
    <p>Edit To Do</p>
    <EditItem></EditItem>
    <DoneItem></DoneItem>
  </div>
  
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import ToDoItem from './components/ToDoItem.vue'
import DoneItem from './components/DoneItem.vue'
import EditItem from './components/EditItem.vue'

export default {
  name: 'app',
  components: {
    HelloWorld,
    ToDoItem,
    EditItem,
    DoneItem
  },
  data() {
    return {
      new_todo:'',
      edit_items:'',
      inputValue: '',
      todos: [
        { 	id: 1, message: "Belajar", status:""},
			  { 	id: 2, message: "Membaca", status:""}
      ],
      warning:'',
      count: 0
    }
  },
  methods: {
    checked(id){
      const tmpTodo = this.todos.find(todo => todo.id == id);
      if(tmpTodo.status == 'done'){
        tmpTodo.status = ''
      } else {
        tmpTodo.status = 'done'
      }
    },
    addTodo(){
      var numb = this.todos.slice(-1).pop() ? this.todos.slice(-1).pop().id : 0;      
      // console.log('add todo', this.inputValue)
      this.todos.push({
        id : numb + 1,
        message : this.inputValue,
        status : null
      })
      this.inputValue=''
      console.log('isi todos:', this.todos)
    },
    
    editTodo(index){
      this.edit_items = this.todos.todo
    },
    hapusTodo(index){
      this.todos.splice(index, 1)
    }
  },
  watch: {
    inputValue: function (newValue, oldValue){
      if(this.inputValue.length > 10){
        this.warning = 'Maksimal 10 Karakter!'
      } else {
        this.warning=''
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
